@using KristianCode.Client

<div id="app"></div>
@* <KristianCode.Client.Route @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: true))"></KristianCode.Client.Route> *@
<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>